<!-- banner -->
<section class="banner-outer">

    <div class="container">
      <div class="text-center logo no-margin-bottom"> <a ui-sref="home"><img src="assets/theme/images/recreal-logo.png" alt=""></a></div>
      <h3 class="color-white text-center ">Articles &amp; Blog</h3>
      <div class="white-space-50"></div>
    </div>

</section>

<!-- blog single post -->
<div class="bg-color1 block-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="blog-list">

          <!-- blog details -->
          <div class="blog-item">

            <h2 class="blog-title"><a href="#" >Considerations for Your Next Move <br/><small>(How It Can Affect Your Career)</small></a></h2>
            <div class="blog-meta">February 27, 2015 by <a href="#">William Frierson</a></div>
            <div class="blog-img">
              <img src="./assets/theme/images/home-bg.jpg" alt="" class="img-full ">
              <small >University law school graduate on graduation day. Photo courtesy of Pixabay.</small>
            </div>
            <p>While it is true that it is still pretty early in the school year for most college students, those finals and the last days of the school year are just around the corner. It is easy to plan out how you will address the class requirements, but sometimes the other aspects of life are missed or not given as much attention and you may find yourself “throwing it together” when faced with projects at the end of the year.</p>
            <p>One of those areas is the dorm room or suite that you have occupied and that you won’t be needing in the summer. Even if you have already graduated (congratulations!), you may not have found that next place to live, or if you have, you may be wondering if this is your final destination. Speaking from experience, that choice of where to live can sometimes change a few times in life, especially as it relates to jobs!</p>
            <blockquote><p>This process of moving isn’t just for college students. The process can, and will, apply to your life at various times.</p></blockquote>
            <p>More and more, there are opportunities for relocation with jobs and even opportunities for virtual jobs (giving you the opportunity to move to your favorite place and work remotely). Huffington Post published an article this past month about the 25 companies that allow you to work from home. You know what that means? You may be finding the perfect, economical place to live, where you can maximize your savings while enjoying your virtual life. This means that you, too, may be facing a change in residence as you settle into your ideal place.</p>
            <h4>Realize the Process</h4>
            <p>It is easy for some of us who have “been there” and “done that” to say “identify your objectives” and “make a plan.” It is precisely because we have had the experience and have tried to do it in an ad lib sort of fashion and realized, in hindsight, that it is always more efficient to map out the plan and realize the process of moving, from a bird’s eye view. It seems like a small thing and easy to do, and to some extent that is exactly the case. If you are faced with that last weekend and all you have is a box of plastic bags, yes the move-out will happen, but it will not be efficient or ideal. It may also result in damages and increased fees and expenses.</p>
            <h4>Schedule the Process</h4>
            <p>First, make your checklist of what needs to be done. There are many checklists available online, that will list out items that should be included. Perform a “Google Search” to find those lists that are helpful and you can compile a final version that suits your situation. Here is a helpful list on what to remember during the moving out process.</p>


            <div class="blog-desc-bottom">
              <!-- tags -->
              <p class="blog-tags clearfix">
                <span class="space-inline-100">Tags</span>
                <a href="#" class="btn btn-line soft btn-theme btn-xs">education</a>
                <a href="#" class="btn btn-line soft btn-theme btn-xs">tips</a>
                <a href="#" class="btn btn-line soft btn-theme btn-xs">advise</a>
                <a href="#" class="btn btn-line soft btn-theme btn-xs">consent</a>
              </p><!-- end tags -->

              <!-- share icons -->
              <p class="socials  no-margin">
                <span class="space-inline-100">Share</span>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </p><!-- end share icons -->

              <!-- blog post profile -->
              <div class="media post-comment post-profile-blog clearfix">
                <div class="media-left post-profile ">
                  <img class="media-object" alt="124x124" src="assets/theme/images/people/7.jpg">
                </div>
                <div class="media-body">
                  <div class="post-desc-comment no-margin">
                    <strong>About</strong>
                    <h5 class="no-margin-top">William Frierson</h5>
                    <p>Naomi Findlay is the award winning founder of the International Institute of Home Staging (IIHS) and SILK Home Staging &amp; Styling. She is also the author of a bestselling book, 'How to get job in instant'.</p>
                  </div>
                </div>
              </div><!-- end blog post profile -->


            </div>
          </div><!-- end blog details -->



        </div>

        <!-- pager -->
        <nav>
          <ul class="pager">
            <li class="previous"><a href="#" class="btn-theme btn-lg"><span aria-hidden="true" class="hidden-xs">&larr;</span> Prev Post</a></li>
            <li class="next"><a href="#" class="btn-theme btn-lg">Next Post <span aria-hidden="true" class="hidden-xs">&rarr;</span></a></li>
          </ul>
        </nav> <!-- end pager -->
      </div>
    </div>
  </div>
</div><!-- end blog single post -->