<!-- banner -->
<section class="banner-outer">

    <div class="container">
      <div class="text-center logo no-margin-bottom"> <a ui-sref="home"><img src="assets/theme/images/recreal-logo.png" alt=""></a></div>
      <h3 class="color-white text-center ">Articles &amp; Blog</h3>
      <div class="white-space-50"></div>
    </div>

</section>

<!-- blog single post -->
<div class="bg-color1 block-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="blog-list">

          <!-- blog details -->
          <div class="blog-item">

            <h2 class="blog-title"><a href="#" >Considerations for Your Next Move <br/><small>(How It Can Affect Your Career)</small></a></h2>
            <div class="blog-meta">February 27, 2015 by <a href="#">William Frierson</a></div>
            <div class="blog-img">
              <img src="assets/theme/images/blog/blog1/blog1-mainthumbnail.jpeg" alt="" class="img-full ">
              <small >There are loads of ways to build work skills at university - pursue opportunities with sports clubs, societies or events. Photograph: 
              Richard Heathcote/Getty Images</small>
            </div>
            <blockquote><p>Tailor your CV – and always keep it short</p></blockquote>
            <p>“Employer feedback tends to point towards a preference for shorter, snappier language on a CV. Long paragraphs of text can be a real turn off, and will run the risk 
            of being skim read. Using bullet points is a great way of getting information across clearly and concisely,” advises Caroline Thorley from <a href="#">
            Birmingham City University.</a></p>
            <p>The important thing to remember is that recruiters and employers will see a huge number of different <a href="#">CVs</a> every day. You have a small window of time 
            to make a good impression, so keep your content concise, to the point and tailored to the job you are applying for.</p>
            <p>“For a new graduate, you should aim for two sides of A4 – no longer,” says Annie Peate from <a href="#">CIPD</a>. Including a picture isn’t necessary, and can take 
            up valuable space. Paul Young, director of <a href="#">Grad-Careers Ltd</a>, recommends using this space to “communicate an extra point or two about why you should 
            be selected for the next recruitment stage.” </p>
            <h4>Create a consistent brand</h4>
            <p>In some industries, creating an online or video CV in addition to a traditional format can be a useful asset. Similarly, a good understanding of social media and 
            a strong online presence can help your application.</p>
            <p>“My advice to students is to always ensure consistency across all of their applications and sites, so that they complement each other and promote the same 
            key messages,” says Caroline Thorley. “Students need to think about their ‘overall brand’ and how this is managed both on paper and online.”</p>
            <h4>Don’t wait until graduation: build your networks now</h4>
            <p>John Cusworth, head of partnerships at <a href="#">Gradcore</a>, points out the huge volume of opportunities and experience available within most universities. 
            “Why wait until you graduate? There are loads of opportunities to get excellent experience in marketing while still at university. Pursue opps with the student 
            union, societies or even organising or promoting events you personally create.”</p>
            <p>Jon Gregory, author of the book Winning That Job and editor of <a href="#">win-that-job.com</a>, grees that you should start networking now, even if you’re 
            still studying. “Don’t expect jobs to come up: go out and proactively approach people in the types of organisation you want to work for,” he advises.</p>
            <p>“Try to make contact with people already doing the job you’d like, ask them how they got those jobs, tell them you’re looking and ask if they know who to contact 
            or if there are any vacancies coming up. Try to reach real people – most of them will applaud your initiative and be willing to give advice.”</p>
            <h4>All work experience is relevant</h4>
            <p>If your experience is primarily in a different sector from the one you are applying to, that doesn’t mean you should take it off your CV. You may still have 
            learned valuable transferable skills that could translate into another industry: focus on these and try to relate them to the role you are applying for.</p>
            <p>Don’t forget about volunteer work. Paul Young believes that volunteering is important as “it shows areas of interest outside of your studies and you will have 
            gained a number of essential skills.”</p>
            <h4>Actions speak louder than words</h4>
            <p>“Make your CV tell a story, says Jon Gregory. “Don’t say, ‘I’m passionate about …’ or ‘I’m excellent at …’ Show it! Show progression and include examples that 
            allow your natural talent, experience and enthusiasm to show through. Let the recruiter reach the conclusion that you’re perfect, passionate and excellent.”</p>
            <p>Looking for a job? Browse <a href="#">Guardian Jobs</a> or sign up to <a href="#">Guardian Careers</a> for the latest job vacancies and career advice</p>
            <div class="blog-desc-bottom">
              <!-- tags -->
              <p class="blog-tags clearfix">
                <span class="space-inline-100">Tags</span>
                <a href="#" class="btn btn-line soft btn-theme btn-xs">education</a>
                <a href="#" class="btn btn-line soft btn-theme btn-xs">tips</a>
                <a href="#" class="btn btn-line soft btn-theme btn-xs">advise</a>
                <a href="#" class="btn btn-line soft btn-theme btn-xs">consent</a>
              </p><!-- end tags -->

              <!-- share icons -->
              <p class="socials  no-margin">
                <span class="space-inline-100">Share</span>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </p><!-- end share icons -->

              <!-- blog post profile -->
              <div class="media post-comment post-profile-blog clearfix">
                <div class="media-left post-profile ">
                  <img class="media-object" alt="124x124" src="assets/theme/images/people/7.jpg">
                </div>
                <div class="media-body">
                  <div class="post-desc-comment no-margin">
                    <strong>About</strong>
                    <h5 class="no-margin-top">Lottie O'Conor</h5>
                    <p>Lottie O'Conor is a freelance writer and reporter, with a focus on women's issues.</p>
                  </div>
                </div>
              </div><!-- end blog post profile -->


            </div>
          </div><!-- end blog details -->



        </div>

        <!-- pager -->
        <nav>
          <ul class="pager">
            <li class="previous"><a href="#" class="btn-theme btn-lg"><span aria-hidden="true" class="hidden-xs">&larr;</span> Prev Post</a></li>
            <li class="next"><a href="#" class="btn-theme btn-lg">Next Post <span aria-hidden="true" class="hidden-xs">&rarr;</span></a></li>
          </ul>
        </nav> <!-- end pager -->
      </div>
    </div>
  </div>
</div><!-- end blog single post -->