<!-- banner -->
<section class="banner-outer">

    <div class="container">
      <div class="text-center logo no-margin-bottom"> <a ui-sref="home"><img src="assets/theme/images/recreal-logo.png" alt=""></a></div>
      <h3 class="color-white text-center ">Articles &amp; Blog</h3>
      <div class="white-space-50"></div>
    </div>

</section>

<!-- blog single post -->
<div class="bg-color1 block-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="blog-list">

          <!-- blog details -->
          <div class="blog-item">

            <h2 class="blog-title"><a href="#" >Considerations for Your Next Move <br/><small>(How It Can Affect Your Career)</small></a></h2>
            <div class="blog-meta">February 27, 2015 by <a href="#">William Frierson</a></div>
            <div class="blog-img">
              <img src="assets/theme/images/blog/blog2/blog2-thumbnail.jpg" alt="" class="img-full ">
              <small >University law school graduate on graduation day. Photo courtesy of Pixabay.</small>
            </div>
            <blockquote><p>Regardless of where you are in your career, starting a new job can be a scary ordeal…</p></blockquote>
            <p>You won’t know anyone, you’ll be oblivious to the team dynamic, and even your job role will be a mystery to you at this stage. And, let’s face it, who isn’t scared 
            of the unknown? To ease your first day anxieties, here are our top tips to help you stop feeling nervous about starting a new job.</p>
            <h4>Remind yourself what you’ll actually be doing</h4>
            <p>When you’re caught up in first day nerves, it can be easy to lose sight of why you’re really there.
            Firstly think about what made you want the job, and what helped you land it in the first place. If you’re having a sudden urge of insecurity, remember that the 
            employer hired you for a reason. They obviously have faith in your abilities and believe you’ll be a great fit for the role – so you should believe it too. At the 
            very least, focusing on the day-to-day aspects of the job role instead of the fact that it’s your first day will distract you from the ‘new job fear’.</p>
            <h4>Don’t expect to know everything</h4>
            <p>You’ve already passed the biggest test, as you’ve already got the job. All you need to do now is keep up a good level of confidence, avoid coming across arrogant, 
            and most importantly, display a real willingness to learn.<br />Your boss expects you to be unsure of things at this stage, so don’t be afraid to ask questions – and 
            try not to panic too much if you make a mistake. Minor errors are all part of the learning process, and your employer will generally be understanding of any mistakes 
            you might make early on.<br />Just make sure you take accountability for your actions. You’re far better off admitting to anything that goes wrong, and trying to 
            find a resolution than trying to hide it. It could be easier to fix than you think, and trying to brush it under the rug isn’t very tactful – or professional.</p>

            <div class="blog-desc-bottom">
              <!-- tags -->
              <p class="blog-tags clearfix">
                <span class="space-inline-100">Tags</span>
                <a href="#" class="btn btn-line soft btn-theme btn-xs">education</a>
                <a href="#" class="btn btn-line soft btn-theme btn-xs">tips</a>
                <a href="#" class="btn btn-line soft btn-theme btn-xs">advise</a>
                <a href="#" class="btn btn-line soft btn-theme btn-xs">consent</a>
              </p><!-- end tags -->

              <!-- share icons -->
              <p class="socials  no-margin">
                <span class="space-inline-100">Share</span>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </p><!-- end share icons -->

              <!-- blog post profile -->
              <div class="media post-comment post-profile-blog clearfix">
                <div class="media-left post-profile ">
                  <img class="media-object" alt="124x124" src="assets/theme/images/people/7.jpg">
                </div>
                <div class="media-body">
                  <div class="post-desc-comment no-margin">
                    <strong>About</strong>
                    <h5 class="no-margin-top">William Frierson</h5>
                    <p>Naomi Findlay is the award winning founder of the International Institute of Home Staging (IIHS) and SILK Home Staging &amp; Styling. She is also the author of a bestselling book, 'How to get job in instant'.</p>
                  </div>
                </div>
              </div><!-- end blog post profile -->


            </div>
          </div><!-- end blog details -->



        </div>

        <!-- pager -->
        <nav>
          <ul class="pager">
            <li class="previous"><a href="#" class="btn-theme btn-lg"><span aria-hidden="true" class="hidden-xs">&larr;</span> Prev Post</a></li>
            <li class="next"><a href="#" class="btn-theme btn-lg">Next Post <span aria-hidden="true" class="hidden-xs">&rarr;</span></a></li>
          </ul>
        </nav> <!-- end pager -->
      </div>
    </div>
  </div>
</div><!-- end blog single post -->