<div class="page-content-wrapper" data-ng-controller=""  data-ng-init="">
    <!-- banner -->
    <section class="banner-outer">
    	 <div class="container">
          <div class="text-center logo"> <a href="index.html"><img src="theme/assets/theme/images/recreal-logo.png" alt=""></a></div>
        </div>
    </section>

    <div class="bg-color2 block-section line-bottom">
      <div class="container">
        <h1 class="text-center no-margin">Company Location</h1>
      </div>
    </div>

    <div class="bg-color2 block-section line-bottom progress-step">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ol class="progress-meter ">
                        <li class="progress-point done"><a href="/employer-step-one">Profile</a></li>
                        <!---->
                        <li class="progress-point todo"><a href="/employer-step-two">Location</a></li>
                            <!---->
					   <li class="progress-point "><a href="/job-step-one">Job Details</a></li>
					                            <!---->
					   <li class="progress-point"><a href="/job-step-two">Job Requirement</a></li>
					                            <!---->
                        <li class="progress-point ">Review</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-color1 block-section line-bottom">
      <div class="container">
        <div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2>Location Map</h2>
				<p>Map is showing your company current location.</p>
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="form-group col-md-12">
								 <div id="map" style="height:50px;"></div>
							</div>
							<div class="form-group col-md-12">
								<button class="btn btn-t-primary btn-theme">Continue</button>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
      </div>
    </div> 
</div>
 <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy_7C3aWIxsYhxDSWbWd7EmbOey_HUGNk&callback=initMap"
    async defer></script>