<div class="page-content-wrapper" data-ng-controller=""  data-ng-init="">
    <!-- banner -->
    <section class="banner-outer">
    	 <div class="container">
          <div class="text-center logo"> <a href="index.html"><img src="theme/assets/theme/images/recreal-logo.png" alt=""></a></div>
        </div>
    </section>

    <div class="bg-color2 block-section line-bottom">
      <div class="container">
        <h1 class="text-center no-margin">Company Profile</h1>
      </div>
    </div>

    <div class="bg-color2 block-section line-bottom progress-step">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ol class="progress-meter ">
                        <li class="progress-point todo"><a href="/employer-step-one">Profile</a></li>
                        <!---->
                        <li class="progress-point "><a href="/employer-step-two">Location</a></li>
                            <!---->
					   <li class="progress-point "><a href="/job-step-one">Job Details</a></li>
					                            <!---->
					   <li class="progress-point"><a href="/job-step-two">Job Requirement</a></li>
					                            <!---->
                        <li class="progress-point ">Review</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-color1 block-section line-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
				<h2>About You</h2>
				<p>A few additional details about you will help your colleagues to know you</p>
				<div class="row about-you-cont">
					<div class="col-md-3">
						<div class="profile-img">
							<img src="theme/assets/theme/images/people/1.jpg" class="img-rounded" alt="">
							<a href="#">Upload Image</a>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="form-group col-md-6">
								<label>First Name</label>
								<input type="text" class="form-control "  placeholder="Enter First Name">
							</div>
							<div class="form-group col-md-6">
								<label>Last Name</label>
								<input type="text" class="form-control "  placeholder="Enter Last Name">
							</div>
							<div class="form-group col-md-6">
								<label>Email Address</label>
								<input type="text" class="form-control "  placeholder="Enter Email Address">
							</div>
							<div class="form-group col-md-6">
								<label>Role</label>
								<select class="form-control">
								  <option>Admin</option>
								  <option>Admin</option>
								  <option>Admin</option>
								  <option>Admin</option>
								  <option>Admin</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<h2>About Your Company</h2>
				<p>A few additional details about your Comapany will help candidates to know about you</p>
				<div class="row about-you-cont">
					<div class="col-md-3">
						<div class="profile-img">
							<img src="theme/assets/theme/images/people/1.jpg" class="img-rounded" alt="">
							<a href="#">Upload Image</a>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="form-group col-md-12">
								<label>Company Name</label>
								<input type="text" class="form-control "  placeholder="Enter First Name">
							</div>
							<div class="form-group col-md-6">
								<label>Industry</label>
								<select class="form-control">
								  <option>Accounting</option>
								  <option>Accounting</option>
								  <option>Accounting</option>
								  <option>Accounting</option>
								  <option>Accounting</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>Website</label>
								<input type="text" class="form-control "  placeholder="Enter Last Name">
							</div>
							<div class="form-group col-md-6">
								<label>Company Type</label>
								<select class="form-control">
								  <option>Sole Proprietorship</option>
								  <option>Sole Proprietorship</option>
								  <option>Sole Proprietorship</option>
								  <option>Sole Proprietorship</option>
								  <option>Sole Proprietorship</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>No of Employees</label>
								<select class="form-control">
								  <option>1 - 10</option>
								  <option>1 - 10</option>
								  <option>1 - 10</option>
								  <option>1 - 10</option>
								  <option>1 - 10</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>Country</label>
								<select class="form-control">
								  <option></option>
								  <option></option>
								  <option></option>
								  <option></option>
								  <option></option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>City</label>
								<select class="form-control">
								  <option></option>
								  <option></option>
								  <option></option>
								  <option></option>
								  <option></option>
								</select>
							</div>
							<div class="form-group col-md-12">
								<label>Company Name</label>
								<div class="color-white-mute"><small>Write few lines about your Company.</small></div>
								<textarea class="form-control" rows="6" placeholder="Enter Job Description"></textarea>
							</div>
							<div class="form-group col-md-12">
								<label>Specialities</label><br />
								<a href="#">+ Add Speciality</a>
							</div>
							<div class="form-group col-md-8">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
									<span class="input-group-addon" id="basic-addon2">X</span>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="form-group col-md-8 add-list-cont">
										<input name="" type="text" class="form-control col-md-12" />
										<input name="" type="button" class="btn btn-default" value="Add" />
										<input name="" type="button" class="btn btn-default" value="Done" />
							</div>
							<div class="form-group col-md-12">
								<button class="btn btn-t-primary btn-theme">Continue</button>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
      </div>
    </div> 
</div>