.nopadding { padding:0; }
ol.progress-meter { text-align:center; }
ol.progress-meter li { width:19%; margin:0 0 0 10px; }
ol.progress-meter li:first-child { margin:0; }
.profile-img { text-align:center; }
.about-you-cont { padding-top:10px; padding-bottom:15px; margin-bottom:20px; }
.about-you-cont .profile-img { margin-top:10px; }
.add-list-cont { padding-bottom:20px; }
.add-list-cont input[type="text"] { margin-bottom:5px;  }
