<section data-ng-controller="AuthenticationController">
	<div class="modal-dialog login-modal-dialog">
	  <div class="">
	  	<div class="modal-header">
			<h3 class="text-center">Sign in</h3>
	    </div>
	    <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
		    <div class="modal-body">
				<div >
					<fieldset>
						<div >
							<label for="username">Username</label>
							<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
						</div>
						<div>
							<label for="password">Password</label>
							<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
						</div>
					</fieldset>
				</div>
		    </div>
		    <div class="modal-footer">
		      	<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">Sign in</button>
				<!-- 	&nbsp; or&nbsp;
					<a href="/#!/signup">Sign up</a> -->
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
		    </div>
	    </form>
	  </div>
	</div>
	</section>
