<div class="page-content-wrapper">
    <!-- banner -->
    <section class="banner-outer">
    	 <div class="container">
          <div class="text-center logo"> <a href="index.html"><img src="assets/theme/images/recreal-logo.png" alt=""></a></div>
        </div>
    </section>

    <div class="bg-color2 block-section line-bottom">
      <div class="container">
        <h1 class="text-center no-margin">Job Requirements</h1>
      </div>
    </div>

    <div class="bg-color2 block-section line-bottom progress-step">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ol class="progress-meter ">
                        <li class="progress-point done"><a href="/employer-step-one">Profile</a></li>
                        <!---->
                        <li class="progress-point done"><a href="/employer-step-two">Location</a></li>
                            <!---->
					   <li class="progress-point done"><a href="/job-step-one">Job Details</a></li>
					                            <!---->
					   <li class="progress-point todo"><a href="/job-step-two">Job Requirement</a></li>
					                            <!---->
                        <li class="progress-point ">Review</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-color1 block-section line-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
				<h2>New Job</h2>
				<p>Your job description has automatically been populated. You can change it on the next page if you have your own job description, but make sure to fill in the skills portion of this page!</p>
				<div class="row about-you-cont">
					<div class="form-group col-md-12">
						<label>Responsibilities</label><br />
						<a href="#">+ Add Responsibility</a>
					</div>
					<div class="form-group col-md-8">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
							<span class="input-group-addon" id="basic-addon2">X</span>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="form-group col-md-8 add-list-cont">
						<input name="" type="text" class="form-control col-md-12" />
						<input name="" type="button" class="btn btn-default" value="Add" />
						<input name="" type="button" class="btn btn-default" value="Done" />
					</div>
					<div class="form-group col-md-12">
						<label>Education</label><br />
						<a href="#">+ Add Education</a>
					</div>
					<div class="form-group col-md-8">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
							<span class="input-group-addon" id="basic-addon2">X</span>
						</div>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
							<span class="input-group-addon" id="basic-addon2">X</span>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="form-group col-md-8 add-list-cont">
						<input name="" type="text" class="form-control col-md-12" />
						<input name="" type="button" class="btn btn-default" value="Add" />
						<input name="" type="button" class="btn btn-default" value="Done" />
					</div>
					<div class="col-md-12">
						<h3>Experience</h3>
					</div>
					<div class="col-md-12">
						<div class="row">
							<div class="form-group col-md-6">
								<label>Career Level</label>
								<select class="form-control">
								  <option></option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>Experience</label>
								<input name="" type="text" class="form-control" />
							</div>
						</div>
					</div>
					<div class="form-group col-md-12">
						<label>Qualifications</label><br />
						<a href="#">+ Add Qualification</a>
					</div>
					<div class="form-group col-md-8">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
							<span class="input-group-addon" id="basic-addon2">X</span>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="form-group col-md-8 add-list-cont">
						<input name="" type="text" class="form-control col-md-12" />
						<input name="" type="button" class="btn btn-default" value="Add" />
						<input name="" type="button" class="btn btn-default" value="Done" />
					</div>
					<div class="form-group col-md-12">
						<label>Skill</label><br />
						<a href="#">+ Add Skill</a>
					</div>
					<div class="form-group col-md-8">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
							<span class="input-group-addon" id="basic-addon2">X</span>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="form-group col-md-8 add-list-cont">
						<input name="" type="text" class="form-control col-md-12" />
						<input name="" type="button" class="btn btn-default" value="Add" />
						<input name="" type="button" class="btn btn-default" value="Done" />
					</div>
					<div class="form-group col-md-12 btn-spasing">
						<button class="btn btn-t-primary btn-theme" ui-sref="job-step-one">Back</button>
						<button class="btn btn-t-primary btn-theme" ui-sref="emp-jobs">Next</button>
					</div>
				</div>
			</div>
        </div>
      </div>
    </div> 
</div>