<div class="page-content-wrapper" data-ng-controller=""  data-ng-init="">
    <!-- banner -->
    <section class="banner-outer">
    	 <div class="container">
          <div class="text-center logo"> <a href="index.html"><img src="theme/assets/theme/images/recreal-logo.png" alt=""></a></div>
        </div>
    </section>

    <div class="bg-color2 block-section line-bottom">
      <div class="container">
        <h1 class="text-center no-margin">Job Details</h1>
      </div>
    </div>

    <div class="bg-color2 block-section line-bottom progress-step">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ol class="progress-meter ">
                        <li class="progress-point done"><a href="/employer-step-one">Profile</a></li>
                        <!---->
                        <li class="progress-point done"><a href="/employer-step-two">Location</a></li>
                            <!---->
					   <li class="progress-point todo"><a href="/job-step-one">Job Details</a></li>
					                            <!---->
					   <li class="progress-point"><a href="/job-step-two">Job Requirement</a></li>
					                            <!---->
                        <li class="progress-point ">Review</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-color1 block-section line-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
				<h2>New Job</h2>
				<p>Think about your job title as the headline of an ad to attract candidates.</p>
				<div class="row about-you-cont">
					<div class="col-md-12">
						<div class="row">
							<div class="form-group col-md-6">
								<label>Industry</label>
								<select class="form-control">
								  <option>Telecom</option>
								  <option>Software</option>
								  <option>Accounting</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>Job Role</label>
								<select class="form-control">
								  <option>Engineer</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>Title</label>
								<input type="text" class="form-control "  placeholder="Engineer">
							</div>
							<div class="form-group col-md-12">
								<label>Description *</label>
								<div class="color-white-mute"><small>Write few lines about your Company.</small></div>
								<textarea class="form-control" rows="6" placeholder="Enter Job Description"></textarea>
							</div>
							<div class="form-group col-md-6">
								<label>Job Type</label>
								<select class="form-control">
								  <option>Contract</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>Employee Status</label>
								<select class="form-control">
								  <option>Full Time</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>Shift</label>
								<select class="form-control">
								  <option>Morning</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>No Of Positions</label>
								<select class="form-control">
								  <option>1</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>Travelling</label>
								<select class="form-control">
								  <option>No Travelling</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>Visa Status</label>
								<select class="form-control">
								  <option>Citizen</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>Salary/Month</label>
								<select class="form-control">
								  <option>Less than $1000</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>Due Date *</label>
								<input type="text" class="form-control " placeholder="Engineer">
							</div>
							<div class="form-group col-md-6">
								<label>Country</label>
								<select class="form-control">
								  <option>United Arab Emirates</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>City</label>
								<select class="form-control">
								  <option>Gulshan-e-Iqbal</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group col-md-12 btn-spasing">
						<button class="btn btn-t-primary btn-theme">Back</button>
						<button class="btn btn-t-primary btn-theme">Next</button>
					</div>
				</div>
			</div>
        </div>
      </div>
    </div> 
</div>