<div class="page-content-wrapper" data-ng-controller="EmpJobsController"  data-ng-init="LoadInitialData()">
  <div class="body-content clearfix">

          <div class="bg-color2">
              <div class="">
                  <div class="col-md-2 col-sm-2">

                      <div class="block-section text-center block-account-nav">
                          <div class="white-space-20"></div>
                             <ul class="list-unstyled nav-sidebar account">
                                  <li><a href="http://jobplanet.jegtheme.com/account/edit-account/"> Inbox(1)</a></li>
                                  <li><a href="http://jobplanet.jegtheme.com/account/change-password/"> Drafts </a></li>
                                  <li><a href="http://jobplanet.jegtheme.com/account/manage-application/"> Sent </a></li>
                                  <li><a href="http://jobplanet.jegtheme.com/account/resumes/"> Important </a></li>
                              </ul>
                          </div>
                  </div>
                  <div class="col-md-10 col-sm-10">
                      <div class="account-right-side">
					  		<div class="row">
								<div class="col-md-3 col-sm-3">
									<div class="message-list">
										<div class="btn-tootlbar">
											<div class="row">
												<div class="col-sm-4">
														<select class="form-control">
														  <option>Filter</option>
														  <option>2</option>
														  <option>3</option>
														  <option>4</option>
														  <option>5</option>
														</select>
												</div>
												<div class="col-sm-4">
													<div class="refresh-main">
														<div class="refresh-btn"><img src="../assets/theme/images/Refresh_icon.png" alt="" title="" /></div>
													</div>
												</div>
												<div class="col-sm-4 next-main">
													<div class="next-btn">←</div>
													<div class="next-btn">→</div>
												</div>
											</div>
										</div>
										<ul>
											<li>
												<small class="pull-right">2 days ago</small>
												<strong class="block">Recreal Team</strong>
												<small class="ng-binding">Welcome to Recreal </small>
											</li>
											<li>
												<small class="pull-right">2 days ago</small>
												<strong class="block">Recreal Team</strong>
												<small class="ng-binding">Welcome to Recreal </small>
											</li>
											<li>
												<small class="pull-right">2 days ago</small>
												<strong class="block">Recreal Team</strong>
												<small class="ng-binding">Welcome to Recreal </small>
											</li>
											<li>
												<small class="pull-right">2 days ago</small>
												<strong class="block">Recreal Team</strong>
												<small class="ng-binding">Welcome to Recreal </small>
											</li>
											<li>
												<small class="pull-right">2 days ago</small>
												<strong class="block">Recreal Team</strong>
												<small class="ng-binding">Welcome to Recreal </small>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-md-8 col-sm-8">
									<h3>Chat</h3>
									<hr />
									<div class="chat-mid-cont">
										<div class="chat-detail-cont">
											<ul>
												<li>
													<div class="message-section right-chat">
														<div class="name-col">jd</div>
														<div class="message-col">
															<p>
																<strong class="strong">Dorsey, Jack</strong> <br>
																Chief, Grosvenor PD, Executive
															</p>
															<div class="message-text">
																I’m looking to this team for insight on your July 4th planning. Anyithing new to share?
															</div>
															<div class="time-date"><strong>Thursday</strong> 3:25</div>
														</div>
													</div>
												</li>
												<li>
													<div class="message-section left-chat">
														<div class="name-col">md</div>
														<div class="message-col">
															<p>
																<strong class="strong">Dolittle, Max</strong> <br>
																Deputy Chief, Groton PD, Major Crimes
															</p>
															<div class="message-text">
																We are on top of 2 groups on Twitter that are claiming to disrupt our parade. Not new actors. Low threat.
															</div>
															<div class="time-date"><strong>Thursday</strong> 3:25</div>
														</div>
													</div>
												</li>
												<li>
													<div class="message-section right-chat">
														<div class="name-col">jd</div>
														<div class="message-col">
															<p>
																<strong class="strong">Dorsey, Jack</strong> <br>
																Chief, Grosvenor PD, Executive
															</p>
															<div class="message-text">Thank you. Will start Con Call shortly.</div>
															<div class="time-date"><strong>Thursday</strong> 3:25</div>
														</div>
													</div>
												</li>
												<li>
													<div class="message-section left-chat">
														<div class="name-col">md</div>
														<div class="message-col">
															<p>
																<strong class="strong">Dolittle, Max</strong> <br>
																Deputy Chief, Groton PD, Major Crimes
															</p>
															<div class="message-text">
																Great, also, just got a abriefing from U.S. Coast Guard. re: 
																annual Regatta. We will have additional personnel in place 
																by 7/1. Will add USCG to this team.
															</div>
															<div class="time-date"><strong>Thursday</strong> 3:25</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<div class="message-editor-cont">
											<form action="" method="get" class="">
												<input type="text" />
												<input name="" type="button" value="send" class="send-btn">
											</form>
										</div>
									</div>
									
								</div>
							</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>