<div class="page-content-wrapper"  data-ng-init="LoadInitialData()">
    <!-- banner -->
    <section class="banner-outer">
      <div class="container">
      <div class="text-center logo no-margin-bottom"> <a href="index.html"><img src="theme/assets/theme/images/recreal-logo.png" alt=""></a></div>
      <h3 class="color-white text-center ">Articles &amp; Blog</h3>
      <div class="white-space-50"></div>
    </div>
    </section>

    <!-- blog block -->
    <div class="bg-color1 block-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">

            <!-- blog list -->
            <div class="blog-list">

              <!-- blog item -->
              <div class="blog-item">
                <h2 class="blog-title"><a href="blog_single_post.html" >Considerations for Your Next Move <br/><small>(How It Can Affect Your Career)</small></a></h2>
                <div class="blog-meta">February 27, 2015 by <a href="#">William Frierson</a></div>
                <div class="blog-img">
                  <img src="./theme/assets/theme/images/home-bg.jpg" alt="" class="img-full ">
                  <small>University law school graduate on graduation day. Photo courtesy of Pixabay.</small>
                </div>
                <p>While it is true that it is still pretty early in the school year for most college students, those finals and the last days of the school year are just around the corner. It is easy to plan out how you will address the class requirements, but sometimes the other aspects of life are missed or not given as much attention and you may find yourself “throwing it together” when faced with projects at the end of the year.</p>
                <p class="blog-links"><a href="blog_single_post.html" class="btn btn-theme btn-line soft ">Continue Reading &nbsp; &rarr;</a></p>
              </div><!-- end blog item -->

              <!-- blog item -->
              <div class="blog-item">
                <h2 class="blog-title"><a href="blog_single_post.html" >5 Key Tips to Starting a Career in Higher Education</a></h2>
                <div class="blog-meta">February 27, 2015 by <a href="#">William Frierson</a></div>
                <p>Looking into the future with a career in higher education is a way for you to give back to the world with a sense of satisfaction. Before you begin moving forward with a plan of action to seek a career in higher education it is essential to review a few tips prior to enrolling in the college or university of your choice. </p>
                <p class="blog-links"><a href="blog_single_post.html" class="btn btn-theme btn-line soft ">Continue Reading &nbsp; &rarr;</a></p>
              </div><!-- end blog item -->

              <!-- blog item -->
              <div class="blog-item">
                <h2 class="blog-title"><a href="blog_single_post.html" >Career Paths for Law Students:<br/><small> Where You Can Go</small></a></h2>
                <div class="blog-meta">February 27, 2015 by <a href="#">William Frierson</a></div>
                <div class="row">
                  <div class="col-md-6">
                    <img src="./theme/assets/theme/images/home-bg.jpg" alt="" class="img-full ">
                    <div class="white-space-20 hidden-lg hidden-md"></div>
                  </div>
                  <div class="col-md-6">
                    <p>No doubt, you labored admirably to acquire your law degree. </p>
                    <p>Having graduated from law school, you may have decided that practicing law is the one and only career option. The good news is that your law degree can be put to good use securing some incredibly, diverse careers that are outside of the law. Given today’s economy and the competition within the legal industry, </p>
                  </div>
                </div>
                <p class="blog-links"><a href="blog_single_post.html" class="btn btn-theme btn-line soft ">Continue Reading &nbsp; &rarr;</a></p>
              </div><!-- end blog item -->


            </div><!-- end blog list -->

            <!-- pager -->
            <nav>
              <ul class="pager">
                <li class="previous"><a href="#" class="btn-theme btn-lg"><span aria-hidden="true">&larr;</span> Older</a></li>
                <li class="next"><a href="#" class="btn-theme btn-lg">Newer <span aria-hidden="true">&rarr;</span></a></li>
              </ul>
            </nav><!-- end pager -->


          </div>
        </div>
      </div>
    </div><!-- end blog block -->
</div>