<div class="page-content-wrapper"  >
    

    

    <!--[if lt IE 9]> <script src="js/ie/html5shiv.js"></script> <script src="js/ie/respond.min.js"></script> <script src="js/ie/excanvas.js"></script> <![endif]-->


<div class="" data-spy="scroll" data-target="#header">

    <section id="content">
        <div class="employer-banner">
			<img src="../assets/theme/images/pages/employersinfo/main-header.jpg" alt="" title=""  />
        </div>
        <div style="">
             
        </div>
		
        <div class="showcase dark">
            <div class="container">
                <div class="row">
                    <div class="tagline-container">
                        <div class="text-center">
                            <h1 class="showcase-tagline-head">Real time synergetic hiring</h1>
                            <span class="showcase-tagline-span">recreal aims to help businesses minimize time investment in hiring and focus more on what they do best.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>    

        <div class="bg-white-only" id="howitworks">
            <div class="container">

                 <div class="row m-t-xl m-b-xl text-center">
                    <div class="col-sm-4 appear" data-animation="fadeInLeft" data-delay="300" data-ride="animated">
                        <p class="h3 m-b-lg i i-cloud i-2x b b-dark rounded wrapper-lg" style="font-style: italic">
                        </p>


                        <div class="box-ic-center">
                        	<i class="fa fa-bookmark-o ic-box"></i>
                            <h4 class="m-t-none">Truly web-based applicant tracking</h4>


                            <p class="text-muted m-t-lg">Unlike most applicant tracking systems, recreal is completely web-based. There is nothing to download, install, update or maintain.</p>
                        </div>
                    </div>


                    <div class="col-sm-4 appear" data-animation="fadeInLeft" data-delay="600" data-ride="animated">
                        <p class="h3 m-b-lg i i-stats i-2x b b-dark rounded wrapper-lg" style="font-style: italic">
                        </p>


                        <div class="box-ic-center">
                        	<i class="fa fa-envelope-o ic-box"></i>
                            <h4 class="m-t-none">The most intuitive recruitment software</h4>


                            <p class="text-muted m-t-lg">Disillusioned with software that is cumbersome to use. recreal is built to get out of your way and get the job done.</p>
                        </div>
                    </div>


                    <div class="col-sm-4 appear" data-animation="fadeInLeft" data-delay="900" data-ride="animated">
                        <p class="h3 m-b-lg i i-screen i-2x b b-dark rounded wrapper-lg" style="font-style: italic">
                        </p>


                        <div class="box-ic-center">
                        	<i class="fa fa-mobile ic-box"></i>
                            <h4 class="m-t-none">Completely transparent pricing &amp; terms</h4>


                            <p class="text-muted m-t-lg">recreal pricing is all-inclusive. There are no hidden charges, installation costs, long term contracts or binding commitments.</p>
                        </div>
                    </div>
                </div> 


               <div class="m-t-xl m-b-xl text-center wrapper">
                    <p class="h5">Develop a <span class="text-primary">Hiring Gameplan</span>


                    
                </p></div>
            </div>
        </div>


		<div class="showcase dark">
			<div class="container">
			<div class="row showcase-content">
				<div class="col-md-6" style="margin-top: 50px">
					<div class="pull-right">
						<h1>Live<span>updates</span></h1>
						<div class="title-bullet"><span></span></div>
						<p>Get notified of new applicants and updates in the hiring pipeline in realtime. Dynamic information on candidates (last update of resume or online/offline status).
Scheduling live chats and calls with candidates before hiring them for a personalized hiring experience from your desktop.</p>
					</div>
				</div>
				<div class="col-md-6" style="margin-top: 20px">
					<div class="phone-img"><img class="img-responsive" style="margin: 0 auto" src="../assets/theme/images/pages/employersinfo/tablet.png">
	                </div>
				</div>
			</div>
		</div>
		</div>

		<div class="showcase">
			<div class="container">
			<div class="row showcase-content">
				<div class="col-md-6" style="margin-top: 20px">
					<div class="phone-img"><img class="img-responsive" style="margin: 0 auto" src="../assets/theme/images/pages/employersinfo/tablet2.png">
	                </div>
				</div>
				<div class="col-md-6" style="margin-top: 50px">
					<div class="pull-right">
						<h1>Ranking<span>of applicants</span></h1>
						<div class="title-bullet"><span></span></div>
						<p>Our state of the art matching algorithm finds the best fit for a specific job, based on attributes such as location, availability, education, skills, visa status etc. that you define at the time of job creation. Loose filters allow the managers to redefine the evaluation criteria. </p>
					</div>
				</div>
			</div>
		</div>
        </div>
		
        <div class="showcase dark">
			<div class="container">
			<div class="row showcase-content">
				<div class="col-md-6" style="margin-top: 50px">
					<div class="pull-right">
						<h1>Exams<span>for pre-interview filtering</span></h1>
						<div class="title-bullet"><span></span></div>
						<p>Choose from a wide range of job specific exams. Recreal also allows its user to create custom exams according to the job requirements.Conduct Psychometric Evaluations with aptitude, personality and motivation tests for multi-dimensional assessment of each candidate to not just hire good candidates but also retain them.</p>
					</div>
				</div>
				<div class="col-md-6" style="margin-top: 20px">
					<div class="phone-img"><img class="img-responsive" style="margin: 0 auto" src="../assets/theme/images/pages/employersinfo/tablet3.png">
	                </div>
				</div>
			</div>
		</div>
        </div>
		
        <div class="showcase">
            <div class="container">
                <div class="row showcase-content">
                    <div class="col-md-6" style="margin-top: 20px">
                        <div class="phone-img"><img class="img-responsive" style="margin: 0 auto" src="../assets/theme/images/pages/employersinfo/tablet4.png">
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 50px">
                        <div class="pull-right">
                            <h1>Stages<span>for applicant tracking</span></h1>
                            <div class="title-bullet"><span></span></div>
                            <p>One stop solution for the entire hiring cycle from job posting, application collection, short listing, scheduling interviews and final announcement. Applicant Tracking to keep track of each candidate’s progress through the hiring cycle. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </section>




    <!-- div for info stolen from recreal.com-->

    <section id="glossary" class="page-section">
                <div class="container">
                    <h2 class="section-heading">New to Recruitment Software? Here's what you need to know</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="glossary-item">
                                <h3>What is a Recruitment Software anyway?</h3>
                                <p>Recruitment Software - also often called as <em>applicant tracking system</em> (ATS) - is a tool that enables companies to electronically handle their recruitment needs. Recruitment softwares are used by both large enterprises and smaller companies, but vary in functionality and features depending on the needs of the company. A Recruitment software is very similar to customer relationship management (CRM) systems, but is designed specifically for recruitment tracking purposes.</p>
                            </div>
                            <div class="glossary-item">
                                <h3>What does a Recruitment Software do?</h3>
                                <p>The primary job of a recruitment software is centralizing all the information about a company's recruitment efforts in a database. Applicant Tracking Systems are designed to add structure to the processing of resumes and applicant information. Applicant data is either collected from internal applications (through the front-end), located on the company website or is extracted from applicants on job boards. Some modern ATSs allow applicants to be sourced from the company's own database of past job applicants.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="glossary-item">
                                <h3>What are the types of Recruitment Software?</h3>
                                <p>Almost all companies use some kind of applicant tracking system or recruitment software to handle job applications and to manage resume data. Some smaller firms use email and/or spreadsheets to manage this, but most companies use a dedicated ATS for recruitment specific needs. In large enterprises, recruitment software may be offered as one of the numerous modules of a complex human resources suite or <em>Human Resource Information System (HRIS)</em>.</p>
                                <p>The older recruitment softwares are typically installed within the company premises and have a one-time installation cost. In recent years, the ATS is expanding into small and medium enterprises through software as a service offerings (SaaS). With SaaS, companies can now pay for recruitment software on a pay-as-you-go basis. This has been instrumental in increasing the penetration of ATS in smaller companies.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <!-- close div for info stolen from recreal.com-->

    <!-- footer -->
</div>
</section></section>
</div>