<div class="page-content-wrapper" data-ng-controller="CandidateStepTwoController"  data-ng-init="LoadInitialData()">
    <!-- banner -->
    <section class="banner-outer">
    	 <div class="container">
          <div class="text-center logo"> <a href="index.html"><img src="assets/theme/images/recreal-logo.png" alt=""></a></div>
        </div>
    </section>

    <div class="bg-color2 block-section line-bottom">
      <div class="container">
        <h1 class="text-center no-margin">Post a Job</h1>
      </div>
    </div>

    <div class="bg-color2 block-section line-bottom progress-step">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ol class="progress-meter ">
                         <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/package/">Basic Info</a></li>
                        <!---->
                        <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/package/">Experience</a></li>
						<!---->
					   <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/company/">HR Question</a></li>
						<!---->
					   <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/vacancy/">General</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

   <div class="bg-color1 block-section line-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
				<h2>Qualification</h2>
				<p>A few additional details about you will help your employers to know you</p>
                <div class="steptwo-detail">
                	<h3>Education</h3>
                    <div class="step-addbtnouter">
                    	<div class="stepadd-detail pull-left">
                        	<div class="stepadd-detailtitle">
                            	<h4 class="pull-left">Institute of Technology</h4>
                                <span class="pull-left">x</span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="stepadd-detailinner">
                            	<h5>High School Study Field</h5>
                                <h6>Mar 18, 2016 - Mar 24, 2016</h6>
                                <p>A few additional details about you will help your employers to know youA few additional details about you will help your employers to know 
                                youA few additional details about you will help your employers to know youA few additional details about you will help your employers to know you</p>
                            </div>
                        </div>
                        <div class="stepadd-popup">
                        	<section>
		                        <div class="row form-group">
				                    <div class="col-md-4">
				                        <label for="">Degree</label>
				                    </div>
				                    <div class="col-md-8">
				                        <select class="form-control">
                                            <option value="? undefined:undefined ?"></option>
                                            <option>High School</option>
                                            <option>Associate Degree</option>
                                    	</select>
				                    </div>
				                </div>
				                <div class="row form-group">
				                    <div class="col-md-4">
				                        <label for="">Study Field</label>
				                    </div>
				                    <div class="col-md-8">
				                        <input type="text" placeholder="Computer Engineering"class="form-control">
				                    </div>
				                </div>
				                <div class="row form-group">
				                    <div class="col-md-4">
				                        <label for="">Institute</label>
				                    </div>
				                    <div class="col-md-8">
				                         <input type="text" placeholder="Comsats University of Technology" class="form-control">
				                    </div>
				                </div>
				                <div class="row form-group">
				                    <div class="col-md-4">
				                        <label for="">Start Date</label>
				                    </div>
				                    <div class="col-md-8">
				                        <input type="date" class="form-control">
				                    </div>
				                </div>
				                <div class="row form-group">
				                    <div class="col-md-4">
				                        <label for="">End Date</label>
				                    </div>
				                    <div class="col-md-8">
				                        <input type="date" class="form-control">
				                    </div>
				                </div>
		                        <div class="row form-group">
				                    <div class="col-md-4">
				                        <label for="">Notes</label>
				                    </div>
				                    <div class="col-md-8">
				                        <textarea class="form-control" rows="3" cols="5"></textarea>
				                    </div>
				                </div>
                                <div class="row">
                                	<div class="col-sm-4">
	                            		<button class="btn btn-default btn-sm pull-left">Add</button>
                                		<a href="#" class="pull-right">Done Adding</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
	                      	</section>
                        </div>
                        <div class="clearfix"></div>
                    	<a href="#">+ Add Education</a>
                    </div>
                </div>
                <div class="steptwo-detail">
                	<h3>Experience</h3>
                    <a href="#">+ Add Position</a>
                </div>
                <div class="steptwo-detail">
                	<h3>Projects</h3>
                    <a href="#">+ Add Project</a>
                </div>
                <div class="steptwo-detail">
                	<h3>Skills</h3>
                    <a href="#">+  Add Skill</a>
                </div>
                <div class="step-btns">
                	<button class="btn btn-t-primary btn-theme">Back</button>
                    <button class="btn btn-t-primary btn-theme">Next</button>
                </div>
			</div>
        </div>
      </div>
    </div>
     
</div>