<div class="page-content-wrapper" data-ng-controller="CandidateStepOneController"  data-ng-init="LoadInitialData()">
    <!-- banner -->
    <section class="banner-outer">
    	 <div class="container">
          <div class="text-center logo"> <a href="index.html"><img src="assets/theme/images/recreal-logo.png" alt=""></a></div>
        </div>
    </section>

    <div class="bg-color2 block-section line-bottom">
      <div class="container">
        <h1 class="text-center no-margin">Post a Job</h1>
      </div>
    </div>

    <div class="bg-color2 block-section line-bottom progress-step">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="progress-meter ">
                        <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/package/">Basic Info</a></li>
                        <!---->
                        <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/package/">Experience</a></li>
						<!---->
					   <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/company/">HR Question</a></li>
						<!---->
					   <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/vacancy/">General</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>    
    
    <div class="bg-color1 block-section line-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
				<h2>Account Information</h2>
				<p>A few additional details about you will help your employers to know you</p>
				<div class="row about-you-cont">
					<div class="col-md-3">
						<div class="profile-img">
							<img src="./assets/theme/images/about-thumbnail.jpg" class="img-rounded" alt="">
							<a href="#">Upload Image</a>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="form-group col-md-6">
								<label>First Name</label>
								<input type="text" class="form-control " placeholder="Enter First Name">
							</div>
							<div class="form-group col-md-6">
								<label>Last Name</label>
								<input type="text" class="form-control " placeholder="Enter Last Name">
							</div>
                        </div>
                        <div class="row">
							<div class="form-group col-md-6">
								<label>Job Title</label>
								<input type="text" class="form-control " placeholder="Enter Email Address">
							</div>
							<div class="form-group col-md-6">
								<label>Email Address</label>
								<select class="form-control">
								  <option value="Admin">Admin</option>
								  <option value="Admin">Admin</option>
								  <option value="Admin">Admin</option>
								  <option value="Admin">Admin</option>
								  <option value="Admin">Admin</option>
								</select>
							</div>
						</div>
					</div>
				</div>
                <div class="row about-you-cont">
					<div class="col-md-3">
						<div class="profile-img">
							<label>Career Objective</label>
						</div>
					</div>
					<div class="col-md-9">
                    	<textarea name="" cols="" rows="">A few additional details about you will help your employers to know youA few additional details about you will help 
                        your employers to know youA few additional details about you will help your employers to know you</textarea>
					</div>
				</div>
                <div class="row about-you-cont">
					<div class="col-md-3">
						<div class="profile-img">
							
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="form-group col-md-6">
								<label>Visa Status</label>
								<select class="form-control">
								  	<option value="No Visa">No Visa</option>
                                    <option value="Residency Visa (Non-Transferable)">Residency Visa (Non-Transferable)</option>
                                    <option value="Residency Visa (Transferable)">Residency Visa (Transferable)</option>
                                    <option value="Student Visa">Student Visa</option>
                                    <option value="Transit Visa">Transit Visa</option>
                                    <option value="Visit Visa">Visit Visa</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>Gender</label>
                                <select class="form-control">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Not mentioned">Not mentioned</option>
                                </select>
							</div>
                        </div>
                        <div class="row">
							<div class="form-group col-md-6">
								<label>Country</label>
                                    <select class="form-control ">
                                        <option value="United Arab Emirates">United Arab Emirates</option>
                                        <option value="Pakistan">Pakistan</option>
                                    </select>
							</div>
							<div class="form-group col-md-6">
								<label>Location</label>
                                <select class="form-control">
                                    <option value="Male">Rawalpindi</option>
                                    <option value="Female">Islamabad</option>
                                    <option value="Not mentioned">Lahore</option>
                                </select>
							</div>
                        </div>
                        <div class="row">
							<div class="form-group col-md-6">
								<label>Contact No</label>
								<input type="text" class="form-control " placeholder="0332-5525405">
							</div>
							<div class="form-group col-md-6">
								<label>Skype ID</label>
								<input type="text" class="form-control " placeholder="Mudasser.Ahmed">
							</div>
                        </div>
                        <div class="row">
							<div class="form-group col-md-6">
								<label>Career Level</label>
                                <select class="form-control">
                                    <option value="Student/Internship">Student/Internship</option>
                                    <option value="Entry Level">Entry Level</option>
                                    <option value="Mid Career">Mid Career</option>
                                    <option value="Management">Management</option>
                                    <option value="Executive (Director)">Executive (Director)</option>
                                    <option value="Senior Executive (CEO)">Senior Executive (CEO)</option>
                                </select>
							</div>
							<div class="form-group col-md-6">
								<label>Employee Type</label>
                                <select class="form-control">
                                    <option value="Permanent">Permanent</option>
                                    <option value="Internship">Internship</option>
                                    <option value="Contractor">Contractor</option>
                                    <option value="Temporary">Temporary</option>
                                    <option value="Internship">Internship</option>
                                </select>
							</div>
                        </div>
                        <div class="row">
							<div class="form-group col-md-6">
								<label>Employment Status</label>
                                <select class="form-control">
                                    <option value="Part Time">Part Time</option>
                                    <option value="Full Time">Full Time</option>
                                </select>
							</div>
							<div class="form-group col-md-6">
								<label>Salary Range</label>
                                <select data-ng-model="candidate.salary_expectation" class="form-control ng-pristine ng-untouched ng-valid">
                                    <option value="Less than $1000">Less than $1000</option>
                                    <option value="$1000 - $2000">$1000 - $2000</option>
                                    <option value="$2000 - $3000">$2000 - $3000</option>
                                    <option value="$3000 - $4000">$3000 - $4000</option>
                                    <option value="$4000 - $5000">$4000 - $5000</option>
                                    <option value="$5000 - $6000">$5000 - $6000</option>
                                    <option value="$6000 - $8000">$6000 - $8000</option>
                                    <option value="$8000 - $10000">$8000 - $10000</option>
                                    <option value="$10000 - $15000">$10000 - $15000</option>
                                    <option value="$15000 - $20000">$15000 - $20000</option>
                                </select>
							</div>
                        </div>
                        <div class="row">
                        	<div class="col-sm-12">
                            	<button ui-sref="candidate-step-two" class="btn btn-t-primary btn-theme">Next</button>
                            </div>
                        </div>
					</div>
				</div>
			</div>
        </div>
      </div>
    </div>
</div>