<div class="page-content-wrapper" data-ng-controller=""  data-ng-init="">
    
    <!-- banner -->
    <section class="banner-outer">
    	 <div class="container">
          <div class="text-center logo"> <a href="index.html"><img src="assets/theme/images/recreal-logo.png" alt=""></a></div>
        </div>
    </section>

     <div class="bg-color2 block-section line-bottom">
      <div class="container">
        <h1 class="text-center no-margin">Post a Job</h1>
      </div>
    </div>


    <div class="bg-color2 block-section line-bottom progress-step">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="progress-meter ">
                        <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/package/">Profile</a></li>
                        <!---->
                        <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/package/">Location</a></li>
						<!---->
					   <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/company/">Post Job - Job Details</a></li>
						<!---->
					   <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/vacancy/">Post Job - Job Requirement</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
    <!-- step three detail -->
    <div class="bg-color1 block-section line-bottom">
      <div class="container">
        <div class="row">
        	<div class="col-md-8 col-md-offset-2 stepfour-outer">
            	<img src="./assets/theme/images/candidate-stepmapthumbnail.jpg" alt="" title="" class="img-responsive" >
                <button class="btn btn-t-primary btn-theme">Back</button>
                <button class="btn btn-t-primary btn-theme">Next</button>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
    
</div>