<div class="page-content-wrapper" data-ng-controller=""  data-ng-init="">
    
    <!-- banner -->
    <section class="banner-outer">
    	 <div class="container">
          <div class="text-center logo"> <a href="index.html"><img src="theme/assets/theme/images/recreal-logo.png" alt=""></a></div>
        </div>
    </section>

    <div class="bg-color2 block-section line-bottom">
      <div class="container">
        <h1 class="text-center no-margin">Post a Job</h1>
      </div>
    </div>

    <div class="bg-color2 block-section line-bottom progress-step">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="progress-meter ">
                        <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/package/">Profile</a></li>
                        <!---->
                        <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/package/">Location</a></li>
						<!---->
					   <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/company/">Post Job - Job Details</a></li>
						<!---->
					   <li class="progress-point done"><a href="http://jobplanet.jegtheme.com/create-vacancy/vacancy/">Post Job - Job Requirement</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
    <!-- step three detail -->
    <div class="bg-color1 block-section line-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
				<h2>1. New Job - Job Details</h2>
				<p>Think about your job title as the headline of an ad to attract candidates.</p>
				<div class="row about-you-cont">
					<div class="col-md-12">
                        <div class="row form-group">
                            <div class="col-sm-3">	
                                <label>Industry</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control">
                                  <option value="Admin">Software</option>
                                  <option value="Admin">Accounting</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3">
                                <label>Job Role</label>
                            </div>
                            <div class="col-sm-6">    
                                <select class="form-control">
                                  <option value="Admin">c# Developer</option>
                                  <option value="Admin">node.js Developer</option>
                                </select>
                            </div>    
                            <div class="clearfix"></div>
                        </div>    
                        <div class="row form-group">
                            <div class="col-sm-3">	
                                <label>Industry</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control " placeholder="C# Developer">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3">	
                                <label>Description</label>
                            </div>
                            <div class="col-sm-9">
                                <textarea name="" cols="" class="form-control" rows=""></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                        	<div class="col-sm-6">
                            	<div class="row">
                                    <div class="col-sm-6">	
                                        <label>Job Type</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option value="Admin">Contract</option>
                                          <option value="Admin">Daily Wages</option>
                                          <option value="Admin">Internship</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">	
                                        <label>Employee Status</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option value="Admin">Full Time</option>
                                          <option value="Admin">Part Time</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                        	<div class="col-sm-6">
                            	<div class="row">
                                    <div class="col-sm-6">	
                                        <label>Shift</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option value="Admin">Morning</option>
                                          <option value="Admin">Evening</option>
                                          <option value="Admin">Night</option>
                                          <option value="Admin">Rotation</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">	
                                        <label>No of Positions</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option value="Admin">1</option>
                                          <option value="Admin">2</option>
                                          <option value="Admin">3</option>
                                          <option value="Admin">4</option>
                                          <option value="Admin">5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                        	<div class="col-sm-6">
                            	<div class="row">
                                    <div class="col-sm-6">	
                                        <label>Travelling</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option value="Admin">No Travelling</option>
                                          <option value="Admin">25% or Less</option>
                                          <option value="Admin">50% or Less</option>
                                          <option value="Admin">75% or Less</option>
                                          <option value="Admin">100% or Less</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">	
                                        <label>Visa Status</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option value="Admin">Citizen</option>
                                          <option value="Admin">No Visa</option>
                                          <option value="Admin">Resident Visa (Non-Transferable)</option>
                                          <option value="Admin">Resident Visa (Transferable</option>
                                          <option value="Admin">Student Visa</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                        	<div class="col-sm-6">
                            	<div class="row">
                                    <div class="col-sm-6">	
                                        <label>Salary Monthly</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option value="Admin">Less than $1000</option>
                                          <option value="Admin">$1000 to $2000</option>
                                          <option value="Admin">$2000 to $3000</option>
                                          <option value="Admin">$3000 to $4000</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">	
                                        <label>Due Date</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control " placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                        	<div class="col-sm-6">
                            	<div class="row">
                                    <div class="col-sm-6">	
                                        <label>Country</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option value="Admin">Pakistan</option>
                                          <option value="Admin">United Arab Emirates</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">	
                                        <label>City</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option value="Admin">Rawalpindi</option>
                                          <option value="Admin">Islamabad</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                        	<div class="col-sm-6 col-md-6 col-md-offset-6">
                            	<div class="candidate-buttons pull-right">
                                	<div class=" col-sm-6">
                            	    	<button type="submit" class="btn btn-primary btn-lg">Next</button>
                                    </div>
                                    <div class="col-sm-6">
                                		<button type="submit" class="btn btn-primary btn-lg">Back</button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
					</div>
				</div>
			</div>
         </div>
      </div>
    </div>
    
</div>
